* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



.input-box {
    position: absolute;
    display: inline-block;
}


.container li {
    list-style: none;
}


.inner li {
    display: inline-block;
}

my-footer {
    padding-top: -100px;
}

